<!DOCTYPE html>
<html>
<head>
	<title>Lost Bookings</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/airline_staff.css')}}">
	<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
    {{ script|safe }}
    {{ script1|safe }}
</head>
<body>
	<a href="/logout" id="logout">Logout</a><br>

	{% if username %}
		<p class="name">Hello <strong>{{username}} </strong> </p>
		<p class="name">Your airline is <strong>{{airline}} </strong> </p>
	{% endif %}
	{% if message %}
		<p class="message" style="color:red">{{message}}</p>
	{% endif %}

	<div id="viewFlights">
		<div id="statusBox" class="modal">
			<div class="modal-content">
	    		<span id="close">&times;</span>
	    		<div id="header"></div>
	    		<div id="selectStatus">
	    			<select id="selectOption">
	    				<option>Upcoming</option><option>In Progress</option>
	    				<option>Delayed</option><option>Arrived</option>
	    			</select>
	    		</div>
  			</div>
  			<form action="/updateStatus" method="POST">
  				<input type="hidden" name="airline_name" id="a_name"/>
  				<input type="hidden" name="flight_num" id="f_num"/>
  				<input type="hidden" name="newStatus" id="newStatus"/>
  				<input type="submit" id="updateBtn" name="update"/>
  			</form>
		</div>
		<form action="/search_flights" method="POST" id="searchOwnFlight">
			<input type="date" name="start_date" required/>
			<input type="date" name="end_date" required/>
			<input type="search" name="dpt_airport" placeholder="Departure Airport" required/>
			<input type="search" name="arr_airport" placeholder="Arrival Airport" required/>
			<input type="submit" value="Search" required/>
		</form>
		<table id="flights">
			<tr>
				<th>Airline Name</th>
				<th>Flight Number</th>
				<th>Departure Airport</th>
				<th>Departure Time</th>
				<th>Arrival Airport</th>
				<th>Arrival Time</th>
				<th>Price</th>
				<th>Status</th>
				<th>Airplane ID</th>
			</tr>
			{% for flight in flights %}
			<tr>
				<td id="airline_name" class="airline_name">{{flight.airline_name}}</td>
				<td id="flight_num" class="flight_num">{{flight.flight_num}}</td>
				<td>{{flight.departure_airport}}</td>
				<td>{{flight.departure_time}}</td>
				<td>{{flight.arrival_airport}}</td>
				<td>{{flight.arrival_time}}</td>
				<td>{{flight.price}}</td>
				<td id="flight_status" class="flight_status">{{flight.status}}<br><input type="submit" class="changeStatusButton" value="Change Status" onClick="changeStatus(this)"></td>
				<td>{{flight.airplane_id}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<h2>Create flights</h2>
	<div>
		<form action="/createFlight" method="POST" id="addNewFlight" autocomplete="off">
			<input type="text" placeholder="Airline Name" name="airline_name" required/><br>
			<input type="number" placeholder="Flight Number" name="flight_num" required/><br>
			<input type="text" placeholder="Departure Airport" name="dpt_airport" required/><br>
			<input type="datetime-local" placeholder="Departure Time" name="dpt_time" required/><br>
			<input type="text" placeholder="Arrival Airport" name="arr_airport" required/><br>
			<input type="datetime-local" placeholder="Arrival Time" name="arr_time" required/><br>
			<input type="number" placeholder="Price" name="price" required/><br>
			<input type="text" placeholder="Status" name="status" required/><br>
			<input type="text" placeholder="Airplane ID" name="plane_id" required/><br>
			<input type="submit" value="Add">
		</form>
	</div>

	<h2>Add airplane to the system</h2>
	<form action="/addPlane" id="add_plane_form" method="POST" autocomplete="off">
		<input type="text" name="airline_name" placeholder="Airline Name" required/>
		<input type="text" name="airplane_id" placeholder="Airplane ID" required/>
		<input type="number" name="seats" placeholder="Number of Seats" required/>
		<input type="submit" value="Add">
	</form>

	<h2>Add new airport</h2>
	<form action="/addAirport" id="airport_form" method="POST" autocomplete="off">
		<input type="text" name="airport_name" placeholder="Airport Name" required/>
		<input type="text" name="airport_city" placeholder="Airport City" required/>
		<input type="submit" value="Add">
	</form>

	<h2>Booking agent</h2>
	<div style="text-align: center">Top 5 From Last Three Months (By Tickets)</div>
	<div id="viewAgents" style="margin: 0 auto">
		<table>
			<tr>
				<th>Email</th>
				<th>Booking Agent Id</th>
				<th>Tickets</th>
			</tr>
			{% for agent in three_month_agents %}
			<tr>
				<td>{{agent.email}}</td>
				<td>{{agent.booking_agent_id}}</td>
				<td>{{agent.cnt}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div style="text-align: center">Top 5 From Last Year (By Tickets)</div>
	<div id="viewAgents" style="margin: 0 auto">
		<table>
			<tr>
				<th>Email</th>
				<th>Booking Agent Id</th>
				<th>Tickets</th>
			</tr>
			{% for agent in past_year_agents %}
			<tr>
				<td>{{agent.email}}</td>
				<td>{{agent.booking_agent_id}}</td>
				<td>{{agent.cnt}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div style="text-align: center">Top 5 From Last Year (By Commission)</div>
	<div id="viewAgents" style="margin: 0 auto;">
		<table>
			<tr>
				<th>Email</th>
				<th>Booking Agent Id</th>
				<th>Commission</th>
			</tr>
			{% for agent in commission_past_year_agent%}
			<tr>
				<td>{{agent.email}}</td>
				<td>{{agent.booking_agent_id}}</td>
				<td>{{agent.commission}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	
	<h2>Frequent customer</h2>
		<h4>Your most frequent customer last year is <span>{{top_customer}}</span> with a grand total of <span>{{purchase_ticket}}</span> ticket(s)</h4>
	<h2>Reports</h2>
	<div>
		<form action="/filterFlightRevenue" method="POST" autocomplete="off">
			Start Date <input type="date" name="report_start_date" required/> End Date <input type="date" name="report_end_date" required/>
			<input type="submit" value="Search"><br>
			<span>Customers spent {{cust_revenue_year}}. Booking Agents spent {{agent_revenue_year}}.</span>
		</form>
	</div>
	<div id="cust_agent_summary"></div>
	<span> A total number of {{total}} tickets were sold </span>
	<div id="piechart">{{ div|safe }}</div>
	<div>{{div1| safe}}</div>
	<div id="bargraph">{{ div2|safe }}</div>
	<h2>Top Destination In Last Three Month</h2>
	<div id="viewDestination" style="margin: 0 auto">
		<table>
			<tr>
				<th>Destination</th>
				<th>Visitors</th>
			</tr>
			{% for destination in top_destination_month %}
			<tr>
				<td>{{destination.airport_city}}</td>
				<td>{{destination.cnt}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<h2>Top Destination In Last Year</h2>
	<div id="viewDestination" style="margin: 0 auto">
		<table>
			<tr>
				<th>Destination</th>
				<th>Visitors</th>
			</tr>
			{% for destination in top_destination_year %}
			<tr>
				<td>{{destination.airport_city}}</td>
				<td>{{destination.cnt}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	
	<script type="text/javascript" src="{{url_for('static',filename='js/airline_staff.js')}}"></script>
</body>
</html>