<!DOCTYPE html>
<html>
<head>
	<title>Lost Bookings</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/booking_agent.css')}}">
</head>
<body>
	<a href="/logout" id="logout">Logout</a>

	{% if username %}
		<p class="name">Hello <strong> {{username}} </strong></p>
		<p class="name">Your booking agent ID is <strong>{{idnum}}</strong> </p>
	{% endif %}

	<h2><a href="/viewMyFlights">View my flights</a></h2>

	<h2><a href="/purchase">Purchase tickets</a></h2>
	
	<h2><a href="/search">Search for flights</a></h2>

	<h2><a href="/commission">View commission</a></h2>

	<h2><a href="/topCustomer">View top customer</a></h2>

	<script type="text/javascript" src="{{url_for('static',filename='js/booking_agent.js')}}"></script>
</body>
</html>