<!DOCTYPE html>
<html>
<head>
	<title>Lost Bookings</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/booking_agent.css')}}">
	<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
    {{ script|safe }}
    {{ script1|safe }}
</head>
<body>
	<a href="/logout" id="logout">Logout</a>

	{% if username %}
		<p class="name">Hello <strong> {{username}} </strong></p>
		<p class="name">Your booking agent ID is <strong>{{idnum}}</strong> </p>
	{% endif %}

	<h2><a href="/viewFlights">View my flights</a></h2>
	
	<h2><a href="/search">Search and Purchase</a></h2>

	<h2><a href="/myCommissions">My Commission</a></h2>

	<h2>Top Customers</h2>
	{{ div|safe }}
	{{ div1|safe }}

	<script type="text/javascript" src="{{url_for('static',filename='js/booking_agent.js')}}"></script>
</body>
</html>