<!DOCTYPE html>
<html>
<head>
	<title>Lost Bookings</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/booking_agent.css')}}">
</head>
<body>
	<a href="/logout" id="logout">Logout</a>
	{% if username %}
		<p class="name">Hello <strong>{{username}} </strong> </p>
	{% endif %}

	<form action="/myCommissions" method="POST" autocomplete="off">
		Start Date <input type="date" name="start_date" required/> End Date <input type="date" name="end_date" required/>
		<input type="submit" value="Search"><br>
	</form>
	<h2>You earned {{total_commission}} commission by selling {{total_ticket}} tickets. Average commission per ticket is {{avg}} dollars</h2>
	<script type="text/javascript" src="{{url_for('static',filename='js/booking_agent.js')}}"></script>
</body>
</html>