<!DOCTYPE html>
<html>
<head>
	<title>Lost Bookings</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/customer.css')}}">
	<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
    {{ script|safe }}
</head>
<body>
	<a href="/logout" id="logout">Logout</a>

	{% if username %}
		<p class="name">Hello <strong>{{username}}</strong></p>
	{% endif %}
 	
	<h2><a href="/viewFlights">View my flights</a></h2>

	<h2><a href="/search">Search and Purchase</a></h2>

	<h2><a href="/track">Track my spending</a></h2>
	
	<script type="text/javascript" src="{{url_for('static',filename='js/customer.js')}}"></script>
</body>
</html>