<!DOCTYPE html>
<html>
<head>
	<title>Lost Bookings</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="/Users/amychen/Desktop/sophomore/databases/prj/Lost/static/css/index.css"> -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body style="background-image: url('/static/travel.jpg')">
	<div id="topbar">
		<a href="login">Login</a>
		<a href="register">Register</a>
	</div>
	<h1 id="headerName">Lost Booking</h1>
	<div id="search">
		<form>
			<input type="search" placeholder="Departure Airport" name="search" id="searchinput" autocomplete="off">
			<input type="date" placeholder="Departure Date" name="search" id="searchinput" autocomplete="off">
			<input type="search" placeholder="Arrival Airport" name="search" id="searchinput" autocomplete="off"><br>
			<button type="submit" id="searchbtn">Search</button>
		</form>
	</div>

	<div class="calendar">
		<div id="calendar-header">
			<span id="month-year"></span>
		</div>
		<div id="dates">
		</div>
	</div>
	<!-- <script type="text/javascript" src="/Users/amychen/Desktop/sophomore/databases/prj/Lost/static/js/index.js"></script> -->
	<script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>
</body>
</html>