<!DOCTYPE html>
<html>
<head>
	<title>Lost Bookings</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body style="background-image: url('/static/travel.jpg')">
	<div id="topbar">
		<a href="/">Home Page</a>
	</div>
	<h1 id="headerName">Lost Booking</h1>
	<div id="search">
		<form action = '/homesearch' method = 'POST'>
			<input type="search" placeholder="Departure City" name="Departure City" id="searchinput" autocomplete="off">
			<input type="search" placeholder="Departure Airport(optional)" name="Departure Airport" id="searchinput" autocomplete="off">
			<input type="search" placeholder="Arrival City" name="Arrival City" id="searchinput" autocomplete="off">
			<input type="search" placeholder="Arrival Airport(optional)" name="Arrival Airport" id="searchinput" autocomplete="off">
			<input type="date" placeholder="Date" name="Date" id="searchinput" autocomplete="off">
			<br>
			<button type="submit" id="searchbtn">Search</button>
		</form>
	</div>

	<div class="calendar">
		<div id="calendar-header">
			<span id="month-year"></span>
		</div>
		<div id="dates">
		</div>
	</div>
	<script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>
</body>
</html>