<!DOCTYPE html>
<html>
<head>
	<title>Lost Bookings</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/Users/amychen/Desktop/sophomore/databases/prj/Lost/static/css/index.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}"> -->
</head>
<body>
	<script type="text/javascript" src="/Users/amychen/Desktop/sophomore/databases/prj/Lost/static/js/index.js"></script>
	<!-- <script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script> -->
</body>
</html>