<!DOCTYPE html>
<html>
<head>
	<title>Lost Bookings</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/Users/amychen/Desktop/sophomore/databases/prj/Lost/static/css/login.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}"> -->
</head>
<body>
	<div id="login_div">
		<h1>Login</h1>
		<form id="name_pw">
			Username: <br><input type=text name="username"><br>
			Password: <br><input type=text name="password">
		</form>
	</div>
	<script type="text/javascript" src="/Users/amychen/Desktop/sophomore/databases/prj/Lost/static/js/login.js"></script>
	<!-- <script type="text/javascript" src="{{url_for('static',filename='js/login.js')}}"></script> -->
</body>
</html>