<!DOCTYPE html>
<html>
<head>
	<title>Lost</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/register.css')}}">
</head>
<body>
	<div class="center-div">
		<h1>Register</h1>
		<input type="radio" name="usertype" id="customerRegister" onClick="whichFormClicked()"> Customer	
		<input type="radio" name="usertype" id="bookingAgentRegister" onClick="whichFormClicked()"> Booking Agent	
		<input type="radio" name="usertype" id="airlineStaffRegister" onClick="whichFormClicked()"> Airline Staff
		<br>

		<form class="whichForm" id="customerForm" autocomplete="off" action="/registerAuth/customer" method="POST">
			<br><input type="email" name="email" class="registerFormText" placeholder="Email" required/><br>
			<br><input type="text" name="name" class="registerFormText" placeholder="Name" required/><br>
			<br><input type="password" name="password" class="registerFormText" placeholder="Password" required/><br>
			<br><input type="text" name="buildingNo" class="registerFormText" placeholder="Building number" required/><br>
			<br><input type="text" name="street" class="registerFormText" placeholder="Street" required/><br>
			<br><input type="text" name="city" class="registerFormText" placeholder="City" required/><br>
			<br><input type="text" name="state" class="registerFormText" placeholder="State" required/><br>
			<br><input type="number" name="phoneNum" class="registerFormText" placeholder="Phone Number" required/><br>
			<br><input type="text" name="passportNo" class="registerFormText" placeholder="Passport Number" required/><br>
			Passport Expiration<input type="date" name="passportExp" class="registerFormText" required/><br>
			<br><input type="text" name="passportCty" class="registerFormText" placeholder="Passport Country" required/><br>
			Date of Birth<br><input type="date" name="dateOfBirth" class="registerFormText" required/>
			<br><input type="submit" value = Register id="submit"/>
		</form>

		<form class="whichForm" id="bookingAgentForm" autocomplete="off" action="/registerAuth/booking_agent" method="POST">
			<br><input type="email" name="email" class="registerFormText" placeholder="Email" required/><br>
			<br><input type="password" name="password" class="registerFormText" placeholder="Password" required/><br>
			<input type="submit" value = Register id="submit"/>
		</form>

		<form class="whichForm" id="airlineStaffForm"  autocomplete="off" action="/registerAuth/airline_staff" method="POST">
			<br><input type="email" name="email" class="registerFormText" placeholder="Email" required/><br>
			<br><input type="password" name="password" class="registerFormText" placeholder="Password" required/><br>
			<br><input type="text" name="fname" class="registerFormText" placeholder="First Name" required/><br>
			<br><input type="text" name="lname" class="registerFormText" placeholder="Last Name" required/><br>
			Date of Birth<br><input type="date" name="dateOfBirth" class="registerFormText" placeholder="Date of Birth" required/><br>
			<br><input type="text" name="airline_name" class="registerFormText" placeholder="Airline Name" required/><br>
			<input type="submit" value = Register id="submit"/>
		</form>
		<br><br>
		<a href="/"> Go Back </a>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
	</div>
	<!-- <script type="text/javascript" src="{{url_for('static',filename='/Users/amychen/Desktop/sophomore/databases/prj/Lost/static/js/register.js')}}"></script> -->
	
	<script type="text/javascript" src="{{url_for('static',filename='js/register.js')}}"></script>
</body>
</html>