<!DOCTYPE html>
<html>
  <head>
    <title>Lost Bookings</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/search.css')}}">
  </head>
  <body>
    <div id="topbar">
      <a href="/">Home</a>
      <a href="/search"> Search </a>
    </div>

    <div id="message">
      {% if message %}
        <span><strong>{{message}} </strong></sanp>
      {% endif %}
      <br>
      {% if error %}
        <span>{{error}}</span>
      {% endif %}
      <br>
      {% if ticket_id %}
        Your Ticket ID is <span>{{ticket_id}}</span>
      {% endif %}
    </div>

    <div id="modal-format">
      <div id="statusBox" class="modal">
        <div class="modal-content">
          <span id="close">&times;</span>
          <div id="header"></div>
        </div>
        <form action="/purchase" method="POST">
          <br><input type="text" name="email" placeholder="Customer Email" id="customerInput">
          <br>
          <input type="hidden" name="airline_name" id="air_name"/>
          <input type="hidden" name="flight_num" id="fl_num"/><br>
          <input type="submit" id="purchaseBtn" value="Purchase"/>
        </form>
      </div>
      <table id="flights">
        <th>Airline Name</th>
        <th>Flight Number</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
        <th>Price</th>
        <th>Airplane ID</th>
        <th>Purchase Ticket</th>
        {% for flight in flights %}
        <tr>
          <td id="airline_name" class="airline_name">{{flight.airline_name}}</td>
          <td id="flight_num" class="flight_num">{{flight.flight_num}}</td>
          <td>{{flight.departure_time}}</td>
          <td>{{flight.arrival_airport}}</td>
          <td>{{flight.arrival_time}}</td>
          <td>{{flight.price}}</td>
          <td>{{flight.airplane_id}}</td>
          <td><button type="submit" class="purchaseButton" onClick="purchaseTicket(this)">Purchase</button></td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='js/search.js')}}"></script>
  </body>
</html>